{% load bootstrap4 %}
<!DOCTYPE html>
<head>
    <title>{% block title %}Chatter{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <div class="menu">
        {% block menu %}
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/bookmarks">Bookmarks</a></li>
            <li><a href="/bookmarks">Bookmarks</a></li>
        </ul>
        {% endblock %}
    </div>
    
    <div id="content">
        {% block content %}
        <h1 class="title header">Welcome to Djorgno</h1>
        {% endblock %}
    </div>
</body>

</html>