.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 2em;
    background-color: lightgray;
    border: gainsboro .05em solid;
}
.nav__item {
    padding: 1em 2em;
}
a {
    text-decoration: none;
    font-size: .75em;
    font-weight: bold;
    color: dodgerblue;
}
a:hover {
    color: whitesmoke;
}