{% extends "../djorg_base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Djorgno - Bookmarks{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bookmarks.css' %}"/>
{% if bookmarks %}
<ul class="bookmarks">
        <h1 class="title header">Bookmarks</h1>
        {% for bookmark in bookmarks %}
        <li id="item">
            <div class="item_sub">
                <a class="link" href="{{ bookmark.bookmark_url }}">{{ bookmark.bookmark_name }}</a>
                <p class="note">Note: {{ bookmark.bookmark_note }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="title">No bookmarks exist</p>
{% endif %}

{% include "./form.html" %}

{% endblock %}