{% extends "../base.html" %}
{% load bootstrap4 %}

{% block title %}Djorgno - Bookmarks{% endblock %}
{% block content %}
{% if bookmarks %}
<h1>Bookmarks</h1>
    <ul>
        {% for bookmark in bookmarks %}
        <li>
            <a href="{{ bookmark.bookmark_url }}">{{ bookmark.bookmark_name }}</a>
            <p>Note: {{ bookmark.bookmark_note }}</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No bookmarks exist</p>
{% endif %}

{% include "./form.html" %}

{% endblock %}