{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% if bookmarks %}
<h1>Bookmarks</h1>
    <ul>
        {% for bookmark in bookmarks %}
        <li>
            <a href="{{ bookmark.bookmark_url }}">{{ bookmark.bookmark_name }}</a>
            <p>Note: {{ bookmark.bookmark_note }}</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No bookmarks exist</p>
{% endif %}

<h1>Add a New Bookmark</h1>
<form name="form" class="bookmark-form" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="Submit" class= "save btn btn-default" >Add a Shiny New Bookmark</button>
    {% endbuttons %}
</form>